rules_version = '1';

service firebase.storage {
  match /b/{bucket}/o {
    // Grants a user access to a node matching their user ID
    // Files look like: "user/<UID>/path/to/file"
    match /user/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Grants a user access to a node matching their babies IDs
    // Files look like: "child/<BABYID>/path/to/file"
    match /child/{babyId}/{allPaths=**} { // TODO: Eventually, rename "child" to "baby"
      // Check if the user is one of the parents of the baby
      allow read, write: if request.auth != null;
    }
  }
}