.ActivityIcon {
	padding: 0.1em;

	&>div {
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 1em;
			height: 1em;
		}
	}
}

.firebase-emulator-warning {
	display: none;
}