:root {
	height: 100%;
}

body {
	height: 100%;
	-webkit-user-select: none;
	user-select: none;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

main {
	flex-grow: 1;
}

.ActivityIcon,
.Icon,
.Sticker {
	// padding: 0.1em;

	&>div {
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 1em;
			height: 1em;
		}
	}
}

.firebase-emulator-warning {
	display: none;
}

:focus-visible {
	outline: none;
}
